.chatting_container{
    padding: 30px 40px;
}

.chatting_common_box{
    border: 3px solid black;
    height: 30px;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-text-stroke: 0.5px black;
    margin-bottom: 10px;
}
.chatting_common_box h3{
    margin: 0;
}
.chatting_title{
    width: 150px;
    background-color: #0594DF;
    color: white;
}

.chatting_nickname{
    width: fit-content;
    padding-right: 10px;
    background-color: white;
    color: black;
    float: left;

}
.chatting_btn_exit{
    width: 72px;
    background-color: #FFAC0B;
    color: white;
    float: right;
    transition: 0.5s all;
}
.chatting_room_container{
    width: 1450px;
    height: 640px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
}
.chatting_room_left{
    background-color: #0777D2;
    border-radius: 15px;
    width: 60%;
    margin: 20px;
    border: 1px solid black;
}
.chatting_room_right{
    background-color: #0777D2;
    border-radius: 15px;
    border: 1px solid black;
    width: 35%;
    height: 81%;
    margin: 20px;
}

.clear{
    clear: both;
    margin: 1px;
}

.chatting_room_profile{
    width: 180px;
    height: 250px;
    margin: 20px auto 30px;
}

.chatting_profile_img{
    width: 100%;
    height: 70%;
    background-color: #0BBEFF;
    border-radius: 15px;
    border: 1px solid black;
    margin-bottom: 10px;
}
.chatting_profile_info{
    width: 100%;
    height: 30%;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #2F96E9;
    padding: 1px;
}
.profile_info_nickname{
    background-color: #0C74D0;
    border-radius: 5px;
    border: 2px solid #00396C;
    margin: 0;
    height: 40%;
    margin: 5px;
    color: white;
    font-size: 20px;
}

.profile_info_roll{
    background-color: #00396C;
    border-radius: 5px;
    color: #2F96E9;
    height: 38%;
    margin: 5px 5px 10px 5px;
    border: 2px solid #6EA9DD;
    font-size: 22px;
}

.chatting_btn_exit:hover{
    background-color: #cf8a01;
    color: black;
    cursor: pointer;
    transition: 0.5s all;
}

.chatting_chat_container{
    background-color: #0777D2;
    width: 500px;
    height: 500px;
}

.chatting_room_right h1{
    color: white;
    -webkit-text-stroke: 1px black;
    margin: 0;
}

.chatting_chat_input{
    width: 80%;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
}

textarea{
    width: 90%;
    height: 90%;
    border-radius: 15px;
    outline: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.chatting_chat_btn{
    width: 50px;
    height: 30px;
    background-color: #0BBEFF;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;
}
.chatting_chat_btn:hover{
    background-color: #128df3;
}

.chatting_chat_box{
    display: flex;
    justify-content: center;
}

.chatting_room_ready{
    background-color: #FFAC0B;
    color: white;
    stroke: 2px black;
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
    height: 50px;
}