.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table{
  margin: auto;
  width: 60%;
  border-collapse: collapse;
  border: 1px solid black
}
td, th{
  border: 1px solid black;
}
.move{
  background-color: wheat;
  width: 100%;
  color: black;
  cursor: pointer;
  transition: 0.5s all;
}
.move:hover{
  background-color: rgb(168, 151, 120);
  color: black;
  transition: 0.5s all;
}

.chat{
  width: 500px;
  height: 500px;
}

body{
  background: url(../public/imgs/background.png);
}